<div class= container>
    <div class = row>
        <div class="col-sm-4">
            <div>
                <div class="text-center"> 
                <h3 class="text-uppercase font-weight-bold mb-4">
                  City
                </h3>
                </div>
                <form
                  class="platform-form"
                  enctype="multipart/form-data"
                  accept-charset="UTF-8"
                  [formGroup]="cityForm"
                  
                >
                  <div
                    class="form-group email required user_email list-option col-md-12"
                  >
                    <label class="control-label email required" for="name"
                      ><abbr title="required"></abbr> City Code</label
                    >
                    <input
                      class="form-control"
                      aria-required="true"
                      disabled
                      placeholder="City Code"
                      type="name"
                      name="name"
                      id="name"
                      [(ngModel)]="citycode"                    
                      formControlName="name"
                    />

                  </div>
                  <div
                    class="form-group email required user_email list-option col-md-12"
                  >
                    <label class="control-label email required" for="description"
                      ><abbr title="required"></abbr> Description/Name</label
                    >
                    <input
                      class="form-control"
                      aria-required="true"
                      disabled
                      placeholder="Name/ Description"
                      type="description"
                      name="description"
                      id="description"
                      [(ngModel)]="citydescription"  
                      formControlName="description"
                    />

                  </div>

                  <div class=" col-md-12">
                    <label
                      class="control-label required"
                      for="country"
                      ><abbr title="required"></abbr> City</label
                    >
                    <select
                      formControlName="city"
                      class="form-control"
                      name="city"
                      (change)="newCity($event.target.value)"
                      id="city"

                    >
                      <option
                        value=""
                        disabled
                        selected

                      
                      >
                        <span
                          class="spinner-border spinner-border-sm mr-1"
                        ></span>
                        Select a New City</option
                      >
                      <option
                        *ngFor="let option of citydata; let i = index"
                        [value]="option.id"  
                       
                        
                      >
                        {{ option.code }}  ({{option.description}})</option
                      >
                    </select>
                  </div>
                  <br>
                </form>
 
            <!-- <div class="form-group text-center col-md-12" >
                <button
                *ngIf="selected"
                [disabled]="loading"
                type="submit"
                (click)="newCity()"
                class="btn btn-dark btn-block"
              >
              
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                New City
              </button>
            </div> -->
              </div>
        </div>

        <div class = "col-sm-8">
          <div class="text-center"> 
            <h3 class="text-uppercase font-weight-bold mb-4">
              Projects
            </h3>
            </div>
          <ngx-datatable
          class="material"
          [rows]="rowsProjects"
          [headerHeight]="50"
          [columnMode]="'force'"
          [selectionType]="'single'"
          [loadingIndicator]="loadingIndicatorProjects"
          rowHeight="50"
          [limit]="5"
          
        >
        <ngx-datatable-column name="Id" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="Short Code" prop="code" ></ngx-datatable-column>
        <ngx-datatable-column name="Name" prop="description" ></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="isActive" >
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>               
              <span *ngIf="value=== false">In Progress</span>
              <span *ngIf="value=== true">Completed</span>
            </ng-template> 
        </ngx-datatable-column>
      <ngx-datatable-column name="Edit">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <button class="btn btn-success btn-block" (click)='onSelectEdit(row)'> Edit</button> 
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      </div>
 

    </div>
</div>
